body {
	padding: 0; 
	margin: 0; 
	font-family: 'Khand', sans-serif;
    font-family: 'Jura', sans-serif;
    font-family: 'Prata', serif;
    font-family: 'Rufina', serif;
    font-family: 'Cormorant', serif;
    font-family: 'Inconsolata', monospace;
    font-family: 'Open Sans Condensed', sans-serif;
    font-family: 'Fjalla One', sans-serif;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Archivo Black', sans-serif;
}